html {
  box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  margin:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/
ul, ol {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin:0;

}

dt {
  font-weight: bold;
}

dd {
  margin:0;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  vertical-align: middle;/*remove space under the img tag*/
}

figure {
  margin:0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin:0;
  width: 100%;
}

button,
input[type="submit"],
button[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn,
input[type="submit"],
button[type="submit"] {
  background: none;
  border: 1px solid $primary-color;
  color: $primary-color;
  box-shadow: none;
  display: inline-block;
  text-align: center;
  transition: .3s ease all;
  @include font-size(14);
  padding: 12px 22px 11px;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
  &:hover,
  &:active,
  &:focus {
    border:1px solid darken($primary-color, 20%);
    color: darken($primary-color, 20%);
  }
}

.btn {
  &--fullwidth {
    width: 100%;
  }
}

