// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import "../helper/variables";

/*
Usage
===============
Define Font name in variable and specify here.
@include fontFace('$font-variable', FontNameInPath, '/path');

 */

// @font-face {
//   font-family: 'circularstd_book';
//   src: url('assets/fonts/circularstd_book.woff2') format('woff2'),
//   url('assets/fonts/circularstd_book.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('/assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'), url('/assets/fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('assets/fonts/ProximaNova-Bold.woff2') format('woff2'), url('/assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Casus Pro';
    src: url('assets/fonts/CasusPro.woff2') format('woff2'), url('assets/fonts/CasusPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}