body,
button,
input,
select,
textarea {
    color: $color__text-main;
    font-family: $primary-family;
    @include font-size(24);
    line-height: $font__line-height-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $primary-family;
    margin: 0 0 20px 0;
    line-height: 1.1;
    color: #323d48;
}

p {
    margin: 0 0 20px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0;
}

address {
    margin: 0;
}

pre {
    background: $color__background-pre;
    font-family: $font__pre;
    @include font-size(0.9375);
    line-height: $font__line-height-pre;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 30px;
}

code,
kbd,
tt,
var {
    font-family: $font__code;
    @include font-size(0.9375);
}

abbr,
acronym {
    border-bottom: 1px dotted $color__border-abbr;
    cursor: help;
}

mark,
ins {
    background: $color__background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}