.sticky {
	display: block;
}

.hentry {
	margin: 0 0 25px;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 25px 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 25px;
}