// Rem output with px fallback
@mixin font-size($sizeValue) {
    font-size: $sizeValue/16 + rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/*
Font face mixin
*/

@mixin fontFace($font-family, $font-name, $file-path) {
    @font-face {
        font: {
            family: $font-family;
            weight: normal;
            style: normal;
        }
        src: url('#{$file-path+$font-name}.eot');
        src: local($font-family),
        local($font-family),
        url('#{$file-path+$font-name}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path+$font-name}.woff') format('woff'),
        url('#{$file-path+$font-name}.ttf') format('truetype');
    }
}

// Rem output with px fallback
// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
  *  mixing px and rem
  *  Example: rem(margin,10px 15px 20px 30px);
  *           rem(padding-top,15px);
  */

@function parseInt($n) {
    @return $n / ($n * 0+1);
}

@mixin rem($property,
$values) {
    $px: ();
    $rem: ();
    @each $value in $values {
        @if $value==0 or $value==auto {
            $px: append($px, $value);
            $rem: append($rem, $value);
        }
        @else {
            $unit: unit($value);
            $val: parseInt($value);
            @if $unit=="px" {
                $px: append($px, $value);
                $rem: append($rem, ($val / 16 + rem));
            }
            @if $unit=="rem" {
                $px: append($px, ($val * 16 + px));
                $rem: append($rem, $value);
            }
        }
    }
    @if $px==$rem {
        #{$property}: $px;
    }
    @else {
        #{$property}: $px;
        #{$property}: $rem;
    }
}

@mixin absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin letter-spacing($spacing-value,
$font-size) {
    letter-spacing: $spacing-value / 1000 * $font-size;
}