/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #14A6FF;
$color__link-visited: #14A6FF;
$color__link-hover: #14A6FF;
$color__text-main: rgba(50, 61, 72, 0.75);
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$brand-color: #f04c1c;
$primary-color: #131812;
$secondary-color: #ff6363;
$tertiary-color: #ff3b3b;
$white: #ffffff;
$black: #000000;

/*--------------------------------------------------------------
# Fonts
-------------------------------------------------------------*/

$primary-family: 'ProximaNova-Regular',
sans-serif;
$primary-familybold: 'ProximaNova-Bold',
sans-serif;
$primary-familyExbold: 'ProximaNova-Extrabld',
sans-serif;
$primary-familySemibold: 'ProximaNova-Semibold',
sans-serif;
$alt-family: 'Casus Pro',
serif;

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;
// Media Queries
$container: 1200px;
$medium-width: 1200px;
$tablet-width: 768px;
$phone-width: 640px;
$phone-portrait-width:450px;
$header-width: 920px;
$ipad-width: 1024px;
$desktop: 'screen and (max-width: #{$container})';
$medium-screen: 'screen and (max-width: #{$medium-width})';
$ipad: 'screen and (max-width: #{$ipad-width})';
$tablet: 'screen and (max-width: #{$tablet-width})';
$phone: 'screen and (max-width: #{$phone-width})';
$phone-portrait: 'screen and (max-width: #{$phone-portrait-width})';
$header: 'screen and (max-width: #{$header-width})';