.footer-block {
    background-image: linear-gradient(to bottom, #fff, #dfeef3);
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}

.main-footer {
    border-top: 1px solid rgba($color: $black, $alpha: 0.16);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    &__menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        padding: 40px 0 30px;
        a {
            text-decoration: none;
            font-family: $primary-familySemibold;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1.6px;
            text-align: right;
            color: rgba($color: $primary-color, $alpha: 0.7);
            padding-left: 48px;
            &:active,
            &:hover,
            &:focus {
                color: $primary-color;
            }
        }
    }
    &__copyright {
        padding-bottom: 40px;
        .copyright-info {
            opacity: 0.75;
            font-family: $primary-family;
            font-size: 16px;
            color: $primary-color;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}