.container {
    max-width: 1036px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

p {
    margin-bottom: 0;
}

.button--primary {
    max-width: 267px;
    width: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ff6363, #ff3b3b 99%), linear-gradient(to bottom, #f9833c, #f04c1c);
    border: none;
    color: $white;
    font-family: $primary-familyExbold;
    @include rem(font-size, 20px);
    @include letter-spacing(80, 20px);
    line-height: 1.35;
    text-decoration: none;
    padding: 22px 50px;
    display: inline-block;
    margin-right: 20px;
}

.button--secondary {
    font-family: $primary-familybold;
    @include rem(font-size, 20px);
    font-weight: bold;
    color: $primary-color;
    background: $white;
    padding: 19px 30px 19px 66px;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    background-image: url('assets/images/btn-guarantee.svg');
    background-repeat: no-repeat;
    background-position: 8% center;
    display: inline-block;
    @media #{$ipad} {
        @include rem(font-size,
        18px);
    }
}