.header {
    padding: 60px 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$tablet} {
            justify-content: center;
        }
    }
    .main-navigation {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        li {
            margin-left: 48px;
        }
        a {
            font-family: $primary-familySemibold;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1.6px;
            text-align: right;
            color: rgba($primary-color, 0.7);
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #ED1F24;
                -webkit-transition: width .3s;
                transition: width .3s;
                position: absolute;
                bottom: -6px;
                left: 0
            }
            &:hover,
            &:active,
            &:focus {
                color: $primary-color;
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &__site-logo {
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: $primary-familyExbold;
            font-size: 26px;
            line-height: 0.77;
            letter-spacing: 2.6px;
            color: $primary-color;
        }
    }
    &__primary-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media #{$tablet} {
            margin-top: 20px;
        }
    }
}