.cta-block {
    text-align: center;
    &__title {
        font-family: $primary-familyExbold;
        @include rem(font-size, 68px);
        line-height: 1.03;
        letter-spacing: 2px;
        text-align: center;
        color: $primary-color;
        margin-bottom: 16px;
    }
    &__content {
        max-width: 656px;
        margin: 0 auto;
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
        padding-bottom: 16px;
    }
    .button--primary {
        max-width: 267px;
        width: 100%;
        height: 70px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, #ff6363, #ff3b3b 99%), linear-gradient(to bottom, #f9833c, #f04c1c);
        border: none;
        color: $white;
        font-family: $primary-familyExbold;
        @include rem(font-size, 20px);
        letter-spacing: 1.6px;
        padding: 24px 50px;
        margin-top: 16px;
        display: inline-block;
        margin-bottom: 60px;
        text-decoration: none;
    }
}