.description-block {
    padding: 53px 0;
    z-index: 1;
    position: relative;
    .container {
        display: flex;
        z-index: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media #{$tablet} {
            flex-direction: column-reverse;
        }
    }
    &__media {
        width: calc(50% - 64px);
        @media #{$tablet} {
            padding-bottom: 50px;
            width: 100%;
        }
    }
    &__content {
        width: calc(50% - 64px);
        @media #{$tablet} {
            padding-bottom: 50px;
            width: 100%;
        }
    }
    &__title {
        font-family: $primary-familySemibold;
        @include rem(font-size, 41px);
        line-height: 1.03;
        letter-spacing: 2px;
        color: $primary-color;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 32px;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 35px;
            background: $brand-color;
            bottom: 0;
            left: 0;
        }
    }
    &__text {
        width: 384px;
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: #131812;
        padding-bottom: 20px;
        @media #{$tablet} {
            width: 100%;
        }
    }
}