.featured-block {
    position: relative;
    margin: 88px 0;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to left, rgba(253, 175, 126, 0) 83%, #fdaf7e 44%, rgba(253, 175, 126, 0) 10%), linear-gradient(to bottom, #fdaf7e, #fdaf7e);
        opacity: 0.25;
        z-index: -1;
    }
    @media #{$tablet} {
        margin-bottom: 0;
    }
    .container {
        display: flex;
        z-index: 1;
        padding: 80px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        @media #{$tablet} {
            flex-direction: column-reverse;
            padding: 0;
        }
    }
    &__media {
        width: calc(50% - 64px);
        position: absolute;
        top: -100px;
        right: 0;
        img {
            -webkit-filter: drop-shadow(0 70px 120px rgba(0, 0, 0, 0.20));
            filter: drop-shadow(0 70px 120px rgba(0, 0, 0, 0.20));
        }
        @media #{$tablet} {
            position: relative;
            width: 100%;
            text-align: center;
        }
    }
    &__content {
        width: calc(50% - 64px);
        @media #{$medium-screen} {
            padding: 0 50px 80px;
        }
        @media #{$tablet} {
            width: 100%;
        }
    }
    &__title {
        font-family: $primary-familySemibold;
        @include rem(font-size, 41px);
        line-height: 1.03;
        letter-spacing: 2px;
        color: $primary-color;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 32px;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 35px;
            background: $brand-color;
            bottom: 0;
            left: 0;
        }
    }
    &__text {
        width: 384px;
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
        padding-bottom: 32px;
        @media #{$tablet} {
            width: auto;
        }
    }
}