.hero-block {
    padding: 100px 0 157px;
    z-index: 1;
    position: relative;
    @media #{$tablet} {
        padding: 100px 0;
    }
    &::after {
        content: "";
        position: absolute;
        height: 395px;
        width: 100%;
        bottom: 0;
        background-image: linear-gradient(to bottom, #edfafa, #dfeef3), linear-gradient(to bottom, #edfafa, #edfafa);
        left: 0;
        right: 0;
        z-index: -1;
        @media #{$tablet} {
            bottom: 4%;
        }
    }
    .container {
        display: flex;
        z-index: 1;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__media {
        width: calc(36% - 64px);
        @media #{$tablet} {
            padding-bottom: 50px;
            width: 100%;
        }
        img {
            -webkit-filter: drop-shadow(0 40px 80px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 40px 80px rgba(0, 0, 0, 0.25));
        }
    }
    &__content {
        width: calc(64% - 64px);
        @media #{$tablet} {
            width: 100%;
        }
    }
    &__title {
        font-family: $primary-familyExbold;
        @include rem(font-size, 68px);
        @include letter-spacing(29.41, 68px);
        line-height: 1.03;
        color: $primary-color;
        @media #{$ipad} {
            width: auto;
            @include rem(font-size, 48px);
        }
    }
    &__text {
        width: 528px;
        font-family: $primary-familySemibold;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: #131812;
        padding-bottom: 20px;
        @media #{$medium-screen} {
            width: auto;
        }
        @media #{$tablet} {
            @include rem(font-size, 18px);
        }
    }
    &__inner {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__testimonials {
        margin-left: 20px;
        @media #{$tablet} {
            margin: 20px 0;
        }
    }
    &__count {
        opacity: 0.5;
        font-family: $primary-familySemibold;
        @include rem(font-size, 14px);
        font-weight: 600;
        line-height: 1.14;
        color: $primary-color;
    }
    &__rating {
        display: inline-block;
        height: 16px;
        width: 90px;
        position: relative;
        background-repeat: no-repeat;
    }
    &__rating-solid {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-image: url(assets/images/ratings.svg);
        bottom: 0;
        background-repeat: no-repeat;
        display: block;
        z-index: 1;
    }
}