.intro-block {
    padding: 120px 0 53px;
    text-align: center;
    @media #{$tablet} {
        padding: 60px 0;
    }
    &__title {
        font-family: $primary-familySemibold;
        font-size: 41px;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.5px;
        text-align: center;
        color: $primary-color;
        margin-bottom: 11px;
    }
    &__sub-title {
        font-family: $primary-familyExbold;
        @include rem(font-size, 16px);
        letter-spacing: 1px;
        color: #f04c1c;
        margin-bottom: 26px;
        position: relative;
        background-color: $white;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 32px;
            background: rgba($black, 0.24);
            top: 50%;
            right: 39%;
            @media #{$tablet} {
                right: 35%;
            }
            @media #{$phone} {
                right: 25%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 32px;
            background: rgba($black, 0.24);
            top: 50%;
            left: 39%;
            @media #{$tablet} {
                left: 35%;
            }
            @media #{$phone} {
                left: 25%;
            }
        }
    }
    &__content {
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
        max-width: 656px;
        margin: 0 auto;
    }
}