.item-block {
    padding: 90px 0 60px;
    .container {
        max-width: 780px;
    }
    &__item {
        padding: 16px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        @media #{$phone-portrait} {
            display: block;
            text-align: center;
        }
    }
    &__icon {
        padding-right: 32px;
        svg {
            width: 42px;
            height: 44px;
        }
    }
    &__title {
        font-family: $primary-familySemibold;
        @include rem(font-size, 41px);
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.5px;
        color: $primary-color;
    }
    &__item-title {
        font-family: $primary-familybold;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
        margin-bottom: 6px;
    }
    &__item-text {
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
    }
}