.logo-block {
    background-color: $white;
    padding: 53px 0 70px;
    position: relative;
    .container {
        border-bottom: 1px solid rgba($primary-color, $alpha: 0.16);
        max-width: 1196px;
    }
    &__title {
        font-family: $primary-familyExbold;
        @include rem(font-size, 16px);
        letter-spacing: 1px;
        text-align: center;
        color: $primary-color;
        position: relative;
        margin-bottom: 39px;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 41.5%;
            background: rgba($black, 0.16);
            top: 50%;
            right: 61%;
        }
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 41.5%;
            background: rgba($black, 0.16);
            top: 50%;
            left: 61%;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        float: none;
        justify-content: space-between;
        padding-bottom: 36.5px;
    }
    &__item {
        padding: 0 35px;
        float: none;
        vertical-align: middle;
        display: inline-block;
        img {
            width: auto;
            margin: 0 auto;
        }
    }
    .slick-slide {
        display: inline-block;
    }
}