.newsletter-block {
    padding: 60px 0;
    .container {
        max-width: 880px;
        padding: 60px 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: linear-gradient(to bottom, #edfafa, #edfafa), linear-gradient(to bottom, #edfafa, #edfafa), linear-gradient(to bottom, #edfafa, #dfeef3 100%);
        @media #{$tablet} {
            margin: 0 auto;
        }
    }
    &__media {
        width: calc(38% - 32px);
        padding-right: 16px;
        @media #{$tablet} {
            width: 100%;
            padding-bottom: 50px;
            text-align: center;
        }
    }
    &__content {
        width: calc(64% - 32px);
        padding-left: 16px;
        @media #{$tablet} {
            width: 100%;
        }
    }
    &__title {
        font-family: $primary-familyExbold;
        @include rem(font-size, 26px);
        line-height: 1.12;
        letter-spacing: -0.3px;
        color: $primary-color;
    }
    &__text {
        font-family: $primary-family;
        @include rem(font-size, 20px);
        line-height: 1.45;
        color: $primary-color;
        padding-bottom: 23px;
    }
    &__input {
        position: relative;
    }
    input[type=email] {
        border: solid 1px $primary-color;
        padding: 12px 25px 13px;
        border-radius: 0;
        outline: 0;
        &::placeholder {
            opacity: 0.5;
            font-family: $primary-familySemibold;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.45;
            color: $primary-color;
        }
    }
    input[type=submit] {
        background: $black;
        width: 60px;
        height: 60px;
        box-shadow: none;
        border: none;
        border-radius: 0;
        position: absolute;
        background-image: url('assets/images/submit.svg');
        background-repeat: no-repeat;
        background-position: center center;
        @media #{$phone-portrait} {
            top: 0;
            left: 94%;
            right: 0;
        }
    }
}