.quote-block {
    position: relative;
    padding: 88px 0;
    &__quote {
        @include rem(font-size, 26px);
        width: 848px;
        line-height: 1.77;
        color: $primary-color;
        margin: 0 auto;
        text-align: left;
        font-family: $alt-family;
        @media #{$medium-screen} {
            padding: 0 50px;
            width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url('assets/images/quote.svg');
            width: 40px;
            height: 30px;
            left: 18%;
            top: 15%;
            @media #{$medium-screen} {
                left: 5%;
                top: 7%;
            }
        }
    }
    &__author {
        font-family: $primary-familyExbold;
        text-transform: uppercase;
        display: block;
        text-align: right;
        @include rem(font-size,
        16px);
        letter-spacing: 1px;
        color: $primary-color;
        font-style: normal;
    }
}