.testimonial-block {
    padding: 60px 0 80px;
    &__title {
        font-family: $primary-familySemibold;
        @include rem(font-size, 41px);
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: -0.5px;
        text-align: center;
        color: $primary-color;
        @media #{$phone} {
            @include rem(font-size, 31px);
        }
    }
    &__quote {
        font-family: $alt-family;
        font-size: 18px;
        line-height: 1.61;
        color: $primary-color;
    }
    &__author {
        font-family: $primary-familybold;
        font-size: 16px;
        line-height: 1.5;
        color: $primary-color;
        display: block;
        padding-top: 20px;
        font-style: normal;
    }
    &__items {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-start;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // max-height: 1000px;
        position: relative;
        columns: 3;
        column-gap: 0;
        padding-top: 50px;
        @media #{$tablet} {
            columns: 2;
        }
        @media #{$phone} {
            columns: 1;
        }
    }
    &__item {
        // width: calc(33.33% - 32px);
        margin: 16px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        border: solid 1px rgba(19, 24, 18, 0.15);
        padding: 25px;
        display: inline-block;
        position: relative;
        @media #{$tablet} {
            width: calc(100% - 32px);
        }
    }
}